$primary-color: #ff3864;
$primary-font: "Mirza", cursive;
$secondary-font: "Uncial Antiqua", cursive;

.home,
.escrow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid $primary-color;
}

.home {
    justify-content: space-evenly;

    img {
        width: 500px;
        height: auto;
    }

    .home-sub-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: left;

        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: $primary-color;
        }

        input {
            outline: none;
            padding: 10px;
            background-color: #000;
            border: 2px solid $primary-color;
            border-radius: 4px;
            color: $primary-color;
            font-family: $primary-font;
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        input:hover {
            border: 2px solid $primary-color;
        }

        ::placeholder {
            color: $primary-color;
            opacity: 1;
        }

        .custom-button {
            margin: 5px 10px 0 0;
            display: block;
            width: 100%;
            border: none;
            padding: 5px;
            background-color: $primary-color;
            color: #000;
            font-family: $primary-font;
            font-size: 1.2rem;
            border: 2px solid $primary-color;
            border-radius: 3px;
        }

        .custom-button:hover {
            cursor: pointer;
            background-color: #000;
            color: $primary-color;
        }
    }
}

.escrow {
    justify-content: space-around;

    .modal {
        .modal-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: $primary-color;
            background-color: #000;
            padding: 2rem;
            min-width: 70%;

            p {
                max-width: 100%;
                font-size: 1.3rem;
                font-weight: bold;
                text-align: left;
                margin-bottom: 20px;
            }

            ol {
                li {
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }

    .escrow-sub-container-one {
        display: flex;
        flex-direction: column;
        color: $primary-color;
        max-width: 50%;

        h1 {
            font-family: "Uncial Antiqua", cursive;
        }

        h2 {
            font-size: 1.7rem;
            font-weight: normal;
        }

        a {
            color: #ff3864;
            margin-bottom: 5px;
        }
    }

    .escrow-sub-container-two {
        width: 40%;
        height: 300px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgb(82, 81, 81);
            padding: 20px;
            height: 100%;
            border-radius: 4px;

            p {
                color: #fff;
                font-size: 1.2rem;
                margin-right: auto;
            }

            span {
                float: right;
                font-weight: bold;
            }
        }

        .custom-button {
            float: right;
            margin-top: 10px;
            margin-left: 5px;
            border: none;
            padding: 5px;
            background-color: $primary-color;
            color: #000;
            font-family: $primary-font;
            font-size: 1.5rem;
            border: 2px solid $primary-color;
            border-radius: 3px;
        }

        .custom-button:hover {
            cursor: pointer;
            background-color: #000;
            color: $primary-color;
        }

        .lock-button,
        .withdraw-button {
            float: right;
            margin-top: 10px;
            margin-left: 5px;
            border: none;
            padding: 5px;
            background-color: #000;
            color: $primary-color;
            font-family: $primary-font;
            font-size: 1.5rem;
            border: 2px solid $primary-color;
            border-radius: 3px;
        }

        .lock-button:hover,
        .withdraw-button:hover {
            cursor: pointer;
            background-color: $primary-color;
            color: #000;
        }
    }
}

.register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $primary-color;

    .register-sub-container {
        display: flex;
        flex-direction: column;
        color: $primary-color;
        align-items: center;
        justify-content: center;
        width: 100%;
        .contents {
            margin: 50px;
            max-width: 75%;
            min-width: 75%;
            h1 {
                font-size: 2rem;
                font-family: "Uncial Antiqua", cursive;
            }

            h2 {
                font-size: 1.2rem;
                font-weight: normal;
            }

            div {
                margin-bottom: 0.7rem;
            }

            a {
                color: #ff3864;
                margin-bottom: 5px;
                text-decoration: underline;
            }
            .custom-button {
                margin-left: auto;
                margin-top: 20px;
                border: none;
                padding: 5px;
                background-color: $primary-color;
                color: #000;
                font-family: $primary-font;
                font-size: 1.5rem;
                border: 2px solid $primary-color;
                border-radius: 3px;
            }

            .custom-button:hover {
                cursor: pointer;
                background-color: #000;
                color: $primary-color;
            }
        }
    }
}

.success {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $primary-color;
    h3 {
        font-size: 3rem;
        font-family: "Uncial Antiqua", cursive;
    }
    .custom-button {
        margin-top: 20px;
        border: none;
        padding: 5px;
        background-color: $primary-color;
        color: #000;
        font-family: $primary-font;
        font-size: 1.5rem;
        border: 2px solid $primary-color;
        border-radius: 3px;
    }

    .custom-button:hover {
        cursor: pointer;
        background-color: #000;
        color: $primary-color;
    }
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $primary-color;

    .form-sub-container-one {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            color: $primary-color;
            font-size: 1.5rem;
        }
        span {
            color: #fff;
        }
    }

    .form-sub-container-two {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            background-color: rgb(63, 62, 62);
            padding: 15px;
            border-radius: 5px;
            margin-top: 30px;

            label {
                color: $primary-color;
            }

            input {
                outline: none;
                margin-bottom: 5px;
                padding: 2px;
                background-color: #000;
                border: 2px solid $primary-color;
                border-radius: 4px;
                color: rgb(170, 169, 169);
                font-family: $primary-font;
                font-size: 1rem;
            }

            select {
                outline: none;
                font-family: $primary-font;
                font-size: 1rem;
                background-color: #000;
                color: #fff;
                padding: 2px;
                border: 2px solid $primary-color;
                border-radius: 4px;
            }

            .input-sub-container {
                display: flex;
                flex-direction: row;

                div {
                    width: 100%;
                }
            }

            .milestone {
                display: grid;
                grid-template-columns: 1fr 1fr;

                p {
                    color: #fff;
                    font-weight: bold;
                    font-size: 1.1rem;
                }
            }

            #date-picker {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 10px;
                input {
                    width: 100%;
                }
            }
        }

        .custom-button {
            margin-top: 20px;
            border: none;
            padding: 5px;
            background-color: $primary-color;
            color: #000;
            font-family: $primary-font;
            font-size: 1.5rem;
            border: 2px solid $primary-color;
            border-radius: 3px;
        }

        .custom-button:hover {
            cursor: pointer;
            background-color: #000;
            color: $primary-color;
        }
    }
}
