@media only screen and (max-width: 1045px) {
    .escrow {
        .escrow-sub-container-two {
            .card {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    .form {
        .form-sub-container {
            width: 70%;

            form {
                input {
                    margin-bottom: 2px;
                    font-size: 0.8rem;
                }

                select {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 970px) {
    .home {
        img {
            width: 350px;
        }

        .home-sub-container {
            h1 {
                font-size: 2rem;
            }

            input {
                font-size: 1.2rem;
            }
        }

        .custom-button {
            font-size: 1rem;
        }
    }
    .escrow {
        flex-direction: column;
        justify-content: center;

        .escrow-sub-container-one {
            margin-top: 10px;
        }
        .escrow-sub-container-two {
            width: 70%;
            height: 230px;
            flex-direction: row;
            margin-top: 20px;

            .card {
                p {
                    font-size: 1.2rem;
                }
            }

            .deposit-button {
                font-size: 1.2rem;
                float: none;
            }
        }
    }
    .form {
        .form-sub-container {
            form {
                input {
                    margin-bottom: 2px;
                    font-size: 0.8rem;
                }

                select {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 635px) {
    .home {
        flex-direction: column-reverse;
        img {
            width: 300px;
            margin-top: auto;
        }

        .home-sub-container {
            height: auto;
            margin-bottom: auto;
            h1 {
                font-size: 2rem;
            }

            input {
                font-size: 1.2rem;
            }
        }

        .custom-button {
            font-size: 1rem;
        }
    }
    .escrow {
        .escrow-sub-container-one {
            margin-bottom: 10px;

            h2 {
                font-size: 1.2rem;
            }
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }

        .escrow-sub-container-two {
            width: 90%;
            height: 220px;

            .card {
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    .form {
        .form-sub-container {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 545px) {
    .register {
        .register-sub-container {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            .custom-button {
                font-size: 1rem;
            }
        }
    }
    .form {
        .form-sub-container {
            width: 100%;
            form {
                width: 90%;
                input {
                    margin-bottom: 2px;
                    font-size: 0.8rem;
                }

                select {
                    font-size: 0.8rem;
                }

                label {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .home {
        img {
            width: 250px;
        }

        .home-sub-container {
            h1 {
                font-size: 1.5rem;
            }

            input {
                font-size: 1rem;
            }
        }

        .custom-button {
            font-size: 0.8rem;
        }
    }
    .escrow {
        .escrow-sub-container-one {
            h2 {
                font-size: 1.2rem;
            }
            h1 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.7rem;
            }
        }

        .escrow-sub-container-two {
            height: 180px;

            .card {
                p {
                    font-size: 0.7rem;
                }
            }

            .deposit-button {
                font-size: 1rem;
            }
        }
    }
    .form {
        .form-sub-container {
            width: 100%;
            form {
                width: 90%;
                input {
                    margin-bottom: 2px;
                    font-size: 0.6rem;
                }

                select {
                    font-size: 0.6rem;
                }

                label {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
