@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");

p {
    line-height: 1.5;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    font-family: "Mirza", cursive;
    padding: 10px;
}

#logo {
    width: 250px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0 0 30px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 30px 0 0;
    z-index: 1;
}

.fa-bars {
    color: #ff3864;
}

.fa-bars {
    transition: all 1s ease-out;
}

.fa-bars:hover {
    transform: rotateZ(90deg);
    transition: all 1s ease-out;
    cursor: pointer;
}

.nav-links {
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 2s ease-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
}

.nav-links li {
    list-style: none;
    opacity: 0;
    transition: all 0.5s ease 0.4s;
}

.nav-links li a {
    font-size: 25px;
    color: #ff3864;
    text-decoration: none;
}

.nav-links li a::after {
    transition: all ease-in-out 0.2s;
    background: none repeat scroll 0 0 #ff3864;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.nav-links li a:hover::after {
    width: 100%;
}

li.fade {
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 25px 25px 0;
}

.fa-twitter,
.fa-book,
.fa-github {
    color: #ff3864;
    margin-left: 10px;
}

@media only screen and (max-width: 1045px) {
    #logo {
        width: 150px;
    }
}

@media only screen and (max-width: 970px) {
    #logo {
        width: 150px;
    }
}

@media only screen and (max-width: 575px) {
    #logo {
        width: 120px;
    }
    nav {
        margin: 30px 20px 0 0;
    }
    .fa-bars {
        height: 25px;
        width: auto;
    }
}

@media only screen and (max-width: 375px) {
    #logo {
        width: 70px;
    }
    nav {
        margin: 25px 20px 0 0;
    }
    .fa-bars {
        height: 20px;
    }
    footer {
        margin: 0 20px 20px 0;
    }
}
