.home,
.escrow {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ff3864;
}

.home {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home img {
  width: 500px;
  height: auto;
}

.home .home-sub-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

.home .home-sub-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff3864;
}

.home .home-sub-container input {
  outline: none;
  padding: 10px;
  background-color: #000;
  border: 2px solid #ff3864;
  border-radius: 4px;
  color: #ff3864;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.home .home-sub-container input:hover {
  border: 2px solid #ff3864;
}

.home .home-sub-container ::-webkit-input-placeholder {
  color: #ff3864;
  opacity: 1;
}

.home .home-sub-container :-ms-input-placeholder {
  color: #ff3864;
  opacity: 1;
}

.home .home-sub-container ::-ms-input-placeholder {
  color: #ff3864;
  opacity: 1;
}

.home .home-sub-container ::placeholder {
  color: #ff3864;
  opacity: 1;
}

.home .home-sub-container .custom-button {
  margin: 5px 10px 0 0;
  display: block;
  width: 100%;
  border: none;
  padding: 5px;
  background-color: #ff3864;
  color: #000;
  font-family: "Mirza", cursive;
  font-size: 1.2rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.home .home-sub-container .custom-button:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff3864;
}

.escrow {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.escrow .modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #ff3864;
  background-color: #000;
  padding: 2rem;
  min-width: 70%;
}

.escrow .modal .modal-content p {
  max-width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.escrow .modal .modal-content ol li span {
  color: #fff;
}

.escrow .escrow-sub-container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ff3864;
  max-width: 50%;
}

.escrow .escrow-sub-container-one h1 {
  font-family: "Uncial Antiqua", cursive;
}

.escrow .escrow-sub-container-one h2 {
  font-size: 1.7rem;
  font-weight: normal;
}

.escrow .escrow-sub-container-one a {
  color: #ff3864;
  margin-bottom: 5px;
}

.escrow .escrow-sub-container-two {
  width: 40%;
  height: 300px;
}

.escrow .escrow-sub-container-two .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #525151;
  padding: 20px;
  height: 100%;
  border-radius: 4px;
}

.escrow .escrow-sub-container-two .card p {
  color: #fff;
  font-size: 1.2rem;
  margin-right: auto;
}

.escrow .escrow-sub-container-two .card span {
  float: right;
  font-weight: bold;
}

.escrow .escrow-sub-container-two .custom-button {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  border: none;
  padding: 5px;
  background-color: #ff3864;
  color: #000;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.escrow .escrow-sub-container-two .custom-button:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff3864;
}

.escrow .escrow-sub-container-two .lock-button,
.escrow .escrow-sub-container-two .withdraw-button {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  border: none;
  padding: 5px;
  background-color: #000;
  color: #ff3864;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.escrow .escrow-sub-container-two .lock-button:hover,
.escrow .escrow-sub-container-two .withdraw-button:hover {
  cursor: pointer;
  background-color: #ff3864;
  color: #000;
}

.register {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ff3864;
}

.register .register-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ff3864;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.register .register-sub-container .contents {
  margin: 50px;
  max-width: 75%;
  min-width: 75%;
}

.register .register-sub-container .contents h1 {
  font-size: 2rem;
  font-family: "Uncial Antiqua", cursive;
}

.register .register-sub-container .contents h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

.register .register-sub-container .contents div {
  margin-bottom: 0.7rem;
}

.register .register-sub-container .contents a {
  color: #ff3864;
  margin-bottom: 5px;
  text-decoration: underline;
}

.register .register-sub-container .contents .custom-button {
  margin-left: auto;
  margin-top: 20px;
  border: none;
  padding: 5px;
  background-color: #ff3864;
  color: #000;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.register .register-sub-container .contents .custom-button:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff3864;
}

.success {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ff3864;
}

.success h3 {
  font-size: 3rem;
  font-family: "Uncial Antiqua", cursive;
}

.success .custom-button {
  margin-top: 20px;
  border: none;
  padding: 5px;
  background-color: #ff3864;
  color: #000;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.success .custom-button:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff3864;
}

.form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #ff3864;
}

.form .form-sub-container-one {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .form-sub-container-one p {
  color: #ff3864;
  font-size: 1.5rem;
}

.form .form-sub-container-one span {
  color: #fff;
}

.form .form-sub-container-two {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .form-sub-container-two form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3f3e3e;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
}

.form .form-sub-container-two form label {
  color: #ff3864;
}

.form .form-sub-container-two form input {
  outline: none;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #000;
  border: 2px solid #ff3864;
  border-radius: 4px;
  color: #aaa9a9;
  font-family: "Mirza", cursive;
  font-size: 1rem;
}

.form .form-sub-container-two form select {
  outline: none;
  font-family: "Mirza", cursive;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  padding: 2px;
  border: 2px solid #ff3864;
  border-radius: 4px;
}

.form .form-sub-container-two form .input-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form .form-sub-container-two form .input-sub-container div {
  width: 100%;
}

.form .form-sub-container-two form .milestone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form .form-sub-container-two form .milestone p {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.form .form-sub-container-two form #date-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.form .form-sub-container-two form #date-picker input {
  width: 100%;
}

.form .form-sub-container-two .custom-button {
  margin-top: 20px;
  border: none;
  padding: 5px;
  background-color: #ff3864;
  color: #000;
  font-family: "Mirza", cursive;
  font-size: 1.5rem;
  border: 2px solid #ff3864;
  border-radius: 3px;
}

.form .form-sub-container-two .custom-button:hover {
  cursor: pointer;
  background-color: #000;
  color: #ff3864;
}
/*# sourceMappingURL=Pages.css.map */