@media only screen and (max-width: 1045px) {
  .escrow .escrow-sub-container-two .card p {
    font-size: 1rem;
  }
  .form .form-sub-container-two form input {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form .form-sub-container-two form select {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 970px) {
  .home img {
    width: 350px;
  }
  .home .home-sub-container h1 {
    font-size: 2rem;
  }
  .home .home-sub-container input {
    font-size: 1.2rem;
  }
  .home .custom-button {
    font-size: 1rem;
  }
  .escrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .escrow .escrow-sub-container-one {
    max-width: 70%;
  }
  .escrow .escrow-sub-container-two {
    width: 70%;
    height: 230px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
  }
  .escrow .escrow-sub-container-two .card p {
    font-size: 1.2rem;
  }
  .escrow .escrow-sub-container-two .custom-button,
  .escrow .escrow-sub-container-two .lock-button,
  .escrow .escrow-sub-container-two .withdraw-button {
    font-size: 1.2rem;
    float: none;
  }
  .form .form-sub-container-one p {
    font-size: 1.2rem;
  }
  .form .form-sub-container-two {
    width: 60%;
  }
  .form .form-sub-container-two form input {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form .form-sub-container-two form select {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 770px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form .form-sub-container-one p {
    font-size: 1rem;
  }
  .form .form-sub-container-two {
    height: auto;
  }
  .success h3 {
    font-size: 2rem;
  }
  .escrow .modal .modal-content {
    font-size: 1rem;
    max-width: 80%;
  }
  .register .register-sub-container .contents {
    max-width: 100%;
  }
}

@media only screen and (max-width: 635px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home img {
    width: 300px;
    margin-top: auto;
  }
  .home .home-sub-container {
    height: auto;
    margin-bottom: auto;
  }
  .home .home-sub-container h1 {
    font-size: 2rem;
  }
  .home .home-sub-container input {
    font-size: 1.2rem;
  }
  .home .custom-button {
    font-size: 1rem;
  }
  .escrow .modal .modal-content {
    font-size: 1rem;
  }
  .escrow .modal .modal-content p {
    font-size: 1.1rem;
  }
  .escrow .escrow-sub-container-one {
    max-width: 90%;
  }
  .escrow .escrow-sub-container-one h2 {
    font-size: 1.2rem;
  }
  .escrow .escrow-sub-container-one h1 {
    font-size: 1.5rem;
  }
  .escrow .escrow-sub-container-one p {
    font-size: 1rem;
  }
  .escrow .escrow-sub-container-two {
    width: 90%;
    height: 220px;
  }
  .escrow .escrow-sub-container-two .card p {
    font-size: 1rem;
  }
  .register .register-sub-container .contents h1 {
    font-size: 2rem;
  }
  .register .register-sub-container .contents h2 {
    font-size: 1.5rem;
  }
  .register .register-sub-container .contents p {
    font-size: 0.8rem;
  }
  .form .form-sub-container-two {
    width: 90%;
  }
  .form .form-sub-container-two .custom-button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 545px) {
  .register .register-sub-container .contents {
    margin: 30px;
  }
  .register .register-sub-container .contents .custom-button {
    font-size: 1rem;
  }
  .form .form-sub-container-two {
    width: 100%;
  }
  .form .form-sub-container-two form {
    width: 90%;
  }
  .form .form-sub-container-two form input {
    margin-bottom: 2px;
    font-size: 0.8rem;
  }
  .form .form-sub-container-two form select {
    font-size: 0.8rem;
  }
  .form .form-sub-container-two form label {
    font-size: 0.8rem;
  }
  .success h3 {
    font-size: 1.5rem;
  }
  .success .custom-button {
    font-size: 1rem;
  }
  .escrow .modal .modal-content {
    font-size: 0.8rem;
    max-width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .home img {
    width: 250px;
  }
  .home .home-sub-container h1 {
    font-size: 1.5rem;
  }
  .home .home-sub-container input {
    font-size: 1rem;
  }
  .home .custom-button {
    font-size: 0.8rem;
  }
  .escrow .modal .modal-content {
    font-size: 0.7rem;
  }
  .escrow .modal .modal-content p {
    font-size: 1rem;
  }
  .escrow .escrow-sub-container-one h2 {
    font-size: 1.2rem;
  }
  .escrow .escrow-sub-container-one h1 {
    font-size: 1.2rem;
  }
  .escrow .escrow-sub-container-one p {
    font-size: 0.7rem;
  }
  .escrow .escrow-sub-container-two {
    height: 180px;
  }
  .escrow .escrow-sub-container-two .card p {
    font-size: 0.7rem;
  }
  .escrow .escrow-sub-container-two .custom-button,
  .escrow .escrow-sub-container-two .lock-button,
  .escrow .escrow-sub-container-two .withdraw-button {
    font-size: 1rem;
  }
  .form .form-sub-container-two {
    width: 100%;
  }
  .form .form-sub-container-two form {
    width: 90%;
  }
  .form .form-sub-container-two form input {
    margin-bottom: 2px;
    font-size: 0.6rem;
  }
  .form .form-sub-container-two form select {
    font-size: 0.6rem;
  }
  .form .form-sub-container-two form label {
    font-size: 0.8rem;
  }
  .register .register-sub-container .contents h1 {
    font-size: 1.2rem;
  }
  .register .register-sub-container .contents h2 {
    font-size: 0.9rem;
  }
  .success p {
    max-width: 70%;
    text-align: center;
  }
}
/*# sourceMappingURL=ResponsivePages.css.map */